<template>
  <app-navigator></app-navigator>
</template>

<script>
import {
  createAppContainer,
  createStackNavigator,
} from "vue-native-router";

import Pantalla1 from "./paginas/pantalla1.vue";
import Pantalla2 from "./paginas/pantalla2.vue";
import Pantalla3 from "./paginas/pantalla3.vue";

const StackNavigator = createStackNavigator(
  {
    Pant1: Pantalla1,
    Pant2: Pantalla2,
    Pant3: Pantalla3,
  },
  {
    initialRouteName: 'Pant1',
  }
);

const AppNavigator = createAppContainer(StackNavigator);

export default {
  components: { AppNavigator },
}
</script>